CompileFlags:
  Add: [-xc, -Wall, -Wextra, -Wshadow, -Wimplicit-fallthrough, -Iinclude]

Diagnostics:
  Suppress: "-Wunknown-attributes"

InlayHints:
  Designators: No
  ParameterNames: No
---
# add [-msimd128, --target=wasm32] for wasm __builtins
# -msimd128, --target=wasm32
If:
  PathExclude: tests/semifloat.*
CompileFlags:
  Add: [--target=wasm32, -msimd128]
  Compiler: clang
---
If:
  PathMatch: tests/semifloat.*
CompileFlags:
  Add: [-march=native]
